body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-image: url("../images/stonehaven.png");
    margin: 0;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
}

/* START OF HEADER */

header {
    background: whitesmoke;
    width: 100%;
    position: fixed;
    top: 0;
}

#logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background: #009c49dc;
    width: 300px;
    padding: 0px;
    text-align: center;
    overflow: hidden;
    float: left;
    color: whitesmoke;

    margin-left: 20%;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: left;
    margin-left: 20%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
  }

/* END OF HEADER */

section {
    margin-top: 200px;
}